BasedOnStyle: Google

IndentWidth: 2
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left

IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 2
SortIncludes: CaseSensitive

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty